name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: compile tests
      working-directory: ${{github.workspace}}/extras
      run: g++ geomag_test.cpp -std=c++14
    - name: run tests
      working-directory: ${{github.workspace}}/extras
      run: ./a.out
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/arduino-lint-action@v1
        with:
          library-manager: update
          compliance: strict
